/* Question 1 */
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

/* Question 2 */
div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
}

/* Question 3 */
div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

div > div {
  width: 20px;
  height: 20px;
}
